/* @import "tailwindcss";

:root{
  --color-principal: #f4e4c1;
  --color-secundario: #e8b4b8;
  --color-acento: #d4a574;
  --color-fondo: #fffbf5;
  --color-texto: #3D2817;
} */

/* Estilos globales para Toast */
.Toastify__toast--success {
  background-color: var(--color-primario) !important;
  color: var(--color-blanco) !important;
}

.Toastify__toast--error {
  background-color: #e57373 !important;
  color: var(--color-blanco) !important;
}
